<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Password</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="m-0 p-0">
    <!-- Background container -->
    <div
      class="text-white relative w-full min-h-screen flex items-center justify-center bg-cover bg-center"
      style="
        background-image: url('/static/assets/abstract-background-with-colorful-spheres-dark-background_1022970-53002.jpg');
      "
    >
      <!-- Frosted overlay -->
      <div class="absolute inset-0 bg-black/50 backdrop-blur-[25px]"></div>

      <!-- Login form -->
      <form
        method="POST"
        class="relative h-128 px-8 py-6 rounded-2xl w-96 bg-white/15 flex flex-col gap-4"
      >
        <!-- Logo and title -->
        <div class="flex flex-col items-center">
          <img
            src="/static/assets/image.png"
            alt="LOGO"
            class="rounded-full h-20 mt-8 bg-green-400/75"
          />
          <h1 class="font-bold text-4xl mt-5 text-white">Change Password</h1>
        </div>

        <!-- Email input -->
        <div class="w-full mb-2">
          <input
            required
            name="password"
            type="password"
            placeholder="Enter your new password"
            class="w-full p-1.5 text-white outline-none border-b-2 focus:border-b-blue-300"
          />
        </div>

        <!-- Send button -->
        <button
          class="w-full mt-5 px-4 py-2 rounded-lg bg-gray-900 text-white font-medium text-center hover:bg-black transition duration-150 ease-in-out focus:ring-4 focus:ring-gray-500"
        >
          Change Password
        </button>
        <p class="text-center">
          Don't have an account?
          <a href="/register" class="font-medium">Signup.</a>
        </p>
        <a href="{{ url_for('user.login') }}" class="text-center font-medium"
          >Go back to login</a
        >
      </form>
      <!-- TOAST NOTIF -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul
        class="flashes flex absolute top-0 w-full left-0 px-50 justify-center"
      >
        {% for category, message in messages %}
        <li class="p-2 text-center rounded-b-2xl {{ category }}">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
  </body>
</html>
